<!DOCTYPE html>
<html lang="{{'language_tag'|load_lang}}">
    <head>
        <style id="ringo_add_style"></style>
        <meta charset="utf-8">
        {% if sub_title != 0 %}
            <title>{{title}} {{sub_title}} - {{wiki_name}}</title>
        {% else %}
            <title>{{title}} - {{wiki_name}}</title>
        {% endif %}
        {{main_head|safe}}
        <script defer src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
        <link rel="stylesheet" href="/views/ringo/dist/assets/main.css.cache_v1">
        {% if main_head_dark != '' %}
            {{main_head_dark|safe}}
        {% endif %}
        <link rel="stylesheet" href="/forge/theme.css.cache_v1">
        <link rel="stylesheet" href="/views/ringo/dist/assets/runtime-overrides.css.cache_v1">
        <link rel="shortcut icon" href="/views/main_css/file/favicon.ico.cache_v1">
        {{global_head|safe}}
        {{user_head|safe}}
        {% if sub_title != 0 %}
            <meta name="title" content="{{title}}{{sub_title}} - {{wiki_name}}">
        {% else %}
            <meta name="title" content="{{title}} - {{wiki_name}}">
        {% endif %}
        <meta name="keywords" content="{{title}}">
        <meta name="description" content="{{description_doc}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{user_path}}" />

        <meta name="ringo-app:doc-title" content="{{title}}">
        {% if sub_title != 0 %}
            <meta name="ringo-app:doc-sub-title" content="{{sub_title}}">
        {% else %}
            <meta name="ringo-app:doc-sub-title" content="">
        {% endif %}
        {% if last_edit != 0 %}
            <meta name="ringo-app:doc-last-edit" content="{{last_edit}}">
        {% else %}
            <meta name="ringo-app:doc-last-edit" content="">
        {% endif %}
        {% if view_count != 0 %}
            <meta name="ringo-app:doc-view-count" content="{{view_count}}">
        {% else %}
            <meta name="ringo-app:doc-view-count" content="">
        {% endif %}
        <meta name="ringo-app:doc-length" content="{{length_doc}}">
        <meta name="ringo-app:wiki-name" content="{{wiki_name}}">
        <meta name="ringo-app:user-name" content="{{user_name}}">
        <meta name="ringo-app:user-auth" content="{{user_auth}}">
        {% if user_login == 1 %}
            <meta name="ringo-app:user-login" content="1">
        {% else %}
            <meta name="ringo-app:user-login" content="0">
        {% endif %}
        <meta name="ringo-app:user-alarm-count" content="{{user_alarm_count}}">
        <meta name="ringo-app:user-path" content="{{user_path}}">
    </head>
    <body>
        <div id="ringo-app-root"></div>

        <div hidden id="ringo-app-island-license">{{license|safe}}</div>
        <div hidden id="ringo-app-island-pre-body">{{template_var_1|safe}}</div>
        <div hidden id="ringo-app-island-body">{{data|safe}}</div>
        <div hidden id="ringo-app-island-post-body">{{template_var_3|safe}}</div>
        {% if template_var_2 != '' %}
            <div hidden id="ringo-app-island-sidebar-override" data-empty="0">{{template_var_2|safe}}</div>
        {% else %}
            <div hidden id="ringo-app-island-sidebar-override" data-empty="1"></div>
        {% endif %}

        <div hidden id="ringo-app-island-document-menu">
            {% if menu != 0 %}
                {% for menu_data in menu %}
                    {% if menu[0] == 1 %}
                        {% set menu_data_2 = menu_data[0] %}
                    {% else %}
                        {% set menu_data_2 = '/' + menu_data[0] %}
                    {% endif %}
                    {% if menu_data|length > 2 and menu_data[2] == 1 %}
                        <a data-href="{{menu_data_2}}" data-topic="1">{{menu_data[1]}}</a>
                    {% else %}
                        <a data-href="{{menu_data_2}}" data-topic="0">{{menu_data[1]}}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div hidden id="ringo-app-island-added-menu">
            {% if add_menu != '' %}
                {% for added_top_menu in add_menu %}
                    <a data-href="{{added_top_menu[1]}}">{{added_top_menu[0]}}</a>
                {% endfor %}
            {% endif %}
        </div>

        <div hidden id="ringo-app-island-labels">
            <span data-key="list">{{'list'|load_lang}}</span>
            <span data-key="recent_change">{{'recent_change'|load_lang}}</span>
            <span data-key="recent_discussion">{{'recent_discussion'|load_lang}}</span>
            <span data-key="vote_list">{{'vote_list'|load_lang}}</span>
            <span data-key="bbs_main">{{'bbs_main'|load_lang}}</span>
            <span data-key="tool">{{'tool'|load_lang}}</span>
            <span data-key="random">{{'random'|load_lang}}</span>
            <span data-key="other_tool">{{'other_tool'|load_lang}}</span>
            <span data-key="admin_tool">{{'admin_tool'|load_lang}}</span>
            <span data-key="upload">{{'upload'|load_lang}}</span>
            <span data-key="skin_setting">{{'skin_setting'|load_lang}}</span>
            <span data-key="user_tool">{{'user_tool'|load_lang}}</span>
            <span data-key="user_setting">{{'user_setting'|load_lang}}</span>
            <span data-key="alarm">{{'alarm'|load_lang}}</span>
            <span data-key="watchlist">{{'watchlist'|load_lang}}</span>
            <span data-key="star_doc">{{'star_doc'|load_lang}}</span>
            <span data-key="logout">{{'logout'|load_lang}}</span>
            <span data-key="login">{{'login'|load_lang}}</span>
            <span data-key="register">{{'register'|load_lang}}</span>
            <span data-key="added_menu">{{'added_menu'|load_lang}}</span>
            <span data-key="search">{{'search'|load_lang}}</span>
            <span data-key="edit">{{'edit'|load_lang}}</span>
            <span data-key="discussion">{{'discussion'|load_lang}}</span>
            <span data-key="bbs">{{'bbs'|load_lang}}</span>
            <span data-key="last_edit_time">{{'last_edit_time'|load_lang}}</span>
            <span data-key="page_view">{{'page_view'|load_lang}}</span>
            <span data-key="length_doc">{{'length_doc'|load_lang}}</span>
        </div>

        <script type="module" src="/views/ringo/dist/assets/main.js.cache_v1"></script>
        <script defer src="/views/ringo/dist/assets/markdownize.js.cache_v1"></script>
    </body>
</html>
