.opennamu_forge_main html,
.opennamu_forge_main body {
    background: black;
    color: white;
}

.opennamu_forge_main textarea, 
.opennamu_forge_main input, 
.opennamu_forge_main button, 
.opennamu_forge_main select {
    background: #1f2023;
    color: white;
}

.opennamu_forge_main input::placeholder,
.opennamu_forge_main textarea::placeholder,
.opennamu_forge_main select::placeholder {
    color: white;
}

.opennamu_forge_main .opennamu_forge_TOC,
.opennamu_forge_main .opennamu_forge_redirect {
    background: #1f2023;
}

.opennamu_forge_main .opennamu_forge_comment_color_gray {
    background: #4a4a4a;
}

.opennamu_forge_main .opennamu_forge_comment_color_green {
    background: #2e4a2e;
}

.opennamu_forge_main .opennamu_forge_comment_color_red {
    background: #803737;
}

.opennamu_forge_main .opennamu_forge_comment_color_default {
    background: #38340e;
}

.opennamu_forge_main .opennamu_forge_comment_color_blue {
    background: #314c56;
}

.opennamu_forge_main .opennamu_forge_comment_blind_admin {
    background: #2f2f2f;
}

.opennamu_forge_main #main_table_top_tr {
    background: #2e5f4e;
}

.opennamu_forge_main code,
.opennamu_forge_main pre {
    background: #313236;
}

.opennamu_forge_main .hljs,
.opennamu_forge_main .hljs-subst {
    color: white;
}

.opennamu_forge_main blockquote {
    background-color: #313236;
    border-left: 4px solid #eee;
}

.opennamu_forge_main .opennamu_forge_spead_footnote {
    background-color: #313236;
    color: white;
}

.opennamu_forge_main .opennamu_forge_popup_footnote {
    background-color: #313236;
    color: white;
}

.opennamu_forge_main .opennamu_forge_history_blind {
    background: #333;
}

/* topic marker */
.opennamu_forge_main #topic_color {
    background: #325a56;
}

/* diff */
.opennamu_forge_main .opennamu_forge_diff_green {
    background: #2e4a2e;
}

.opennamu_forge_main .opennamu_forge_diff_red {
    background: #803737;
}

.opennamu_forge_main a {
    color: #A7C8FF;
}

.opennamu_forge_main a:hover {
    color: #7e97c1;
}
